<mat-card class="details">
    <img mat-card-image class="card" [src]="card.imageUrl" alt="{{card.name}}" title="{{card.name}}">
    <mat-card-content>
        <span class="label">
            <span>Nome:</span> {{card.name}}
        </span>
        <span class="label">
            <span>ID:</span> {{card.id}}
        </span>
    </mat-card-content>
    <mat-card-actions>
        <img class="imgCard" *ngFor="let type of card.types" [matTooltip]="type" [src]="getUrlTypeImage(type)">
        <button mat-raised-button class="btn-details" (click)="clickDetails()">+ Detalhes</button>
    </mat-card-actions>
</mat-card>