.card {
    max-width: 300px;
}

.details {
    background-color: rgb(255 255 255 / 58%);
    color: #000;
    margin: 10px 0px;
    position: relative;

    .mat-card-content {
        font-size: 10px;
    }

    .label {
        display: block;

        span {
            font-weight: bold;
        }
    }

    .imgCard {
        height: 30px;
        position: absolute;
        right: 10px;
        margin-top: -86px;
    }
    
    .btn-details {
        width: 100%;
        margin: 0;
    }
}