<div *ngIf="onlineService; else templateRef">
    <div class="row">
        <div class="col mgTop15">
            <app-pok-busca [debounceTime]="searchDebounceTime" (valueChanges)="search($event)" label="Buscar"></app-pok-busca>
            <span class="text-not-found" *ngIf="filteredCards.length === 0">Nenhum resultado encontrado!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let card of filteredCards | orderBy: 'name'">
            <app-pok-card (seeDetailsEvent)="navigateToDetails($event)" [card]="card">
            </app-pok-card>
        </div>
    </div>

    <div class="row">
        <div class="col mgBottom80">
            <mat-paginator
                [length]="this.length"
                [pageIndex]="this.pageIndex"
                [pageSize]="this.pageSize"
                [pageSizeOptions]="[20, 50, 100]"
                (page)="pageEvent = paginator($event)">
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row">
        <div class="col-lg-12 text-center" style="padding: 10% 40%;">
            <mat-spinner class="spiner"></mat-spinner>
        </div>
    </div>
</ng-template>



        


        