<div class="container-fluid">
    <app-pok-header></app-pok-header>
</div>
<div class="container content">
    <router-outlet></router-outlet>
</div>
<div class="container-fluid">
    <app-pok-footer></app-pok-footer>
</div>
