<mat-form-field class="inputBusca">
  <mat-label>{{label}}</mat-label>
  <input matInput type="text" [formControl]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetForm()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>