<div class="row" *ngIf="card">
    <div class="col-lg-6">
        <img class="imgCard" [src]="card.imageUrlHiRes">
    </div>
    <div class="col-lg-6">
        <div class="wrapper-info">
            <span class="label">
                <span>Nome:</span> {{card.name}}
            </span>
            <span class="label">
                <span>ID:</span> {{card.id}}
            </span>
            <img class="img-type" *ngFor="let type of card.types" [matTooltip]="type" [src]="getUrlTypeImage(type)">
        </div>
        <div class="wrapper-attacks">
            <p><strong>Ataques:</strong></p>
            <div class="accordion" *ngFor="let attack of card.attacks">
                <div header>
                    <span><strong>{{attack.name}}</strong></span>
                </div>
                <div content>
                    <p class="description">{{attack.text}}</p>
                    <p><img class="sword" matTooltip="Dano" src="./assets/images/sword.png">
                        <span class="damage">{{attack.damage}}</span></p>
                    <div class="wrapper-cost">
                        <img class="img-cost" *ngFor="let cost of attack.cost" [matTooltip]="cost"
                            [src]="getUrlTypeImage(cost)">
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-weakness">
            <div>
                <p><strong>Resistencia(s):</strong></p>
                <div class="wrapper-footer-details">
                    <div class="resist" *ngFor="let resist of card.resistances">
                        <img class="img-resist" [matTooltip]="resist.type" [src]="getUrlTypeImage(resist.type)">
                        <span class="text">{{resist.value}}
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <p><strong>Fraqueza(s):</strong></p>
                <div class="wrapper-footer-details">
                    <div class="weak" *ngFor="let weak of card.weaknesses">
                        <img class="img-weak" [matTooltip]="weak.type" [src]="getUrlTypeImage(weak.type)">
                        <span class="text">{{weak.value}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="navigateToCards()" class="btn-back" mat-raised-button>Voltar</button>
    </div>

</div>