.imgCard {
    margin: 20px 0;
    max-width: 100%;
}

.wrapper-info,
.wrapper-attacks,
.wrapper-weakness {
    margin: 20px 20px;
}

.img-type,
.img-cost,
.img-resist,
.img-weak,
.sword {
    width: 30px;
}

.btn-back {
    margin-left: 20px;
}


@media only screen and (max-width: 768px) {
    .btn-back {
        width: 100%;
        margin: 20px 0px;
        padding: 10px 0px;
    }
  }